<div class="main-container">

    <div class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <div class="navbar-brand">Gadgeon</div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navlist">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navlist">
                <div class="navbar-nav nav-pills">
                    <a class="nav-link" routerLinkActive="active" routerLink="Home">Home</a>
                    <a class="nav-link" routerLinkActive="active" routerLink="About">About</a>
                    <a class="nav-link" routerLinkActive="active" routerLink="Contact">Contact us</a>
                    <a class="nav-link" routerLinkActive="active" routerLink="Services">Services</a>
                </div>
            </div>
        </div>
    </div>

    <div class="component-container">
        <router-outlet></router-outlet>
        <!-- <app-home></app-home>
        <app-about></app-about>
        <app-services></app-services>
        <app-contact></app-contact> -->
    </div>