<div class="container">
    <h1 class="mb-2">Services</h1>
    <hr>
    <div class="d-grid">
        <div class="row mb-4">
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="../../assets/services_img/agcs.jfif" alt="">
                    <div class="card-body">
                        <h5 class="text-center card-title">Automatic Gate Control System</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="../../assets/services_img/ccs.jfif" alt="">
                    <div class="card-body">
                        <h5 class="text-center card-title">Climate Control System</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="../../assets/services_img/ess.jfif" alt="">
                    <div class="card-body">
                        <h5 class="text-center card-title">Electronic Security Systems</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="../../assets/services_img/ics.jfif" alt="">
                    <div class="card-body">
                        <h5 class="text-center card-title">Integrated CCTV Systems</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="../../assets/services_img/lcs.jfif" alt="">
                    <div class="card-body">
                        <h5 class="text-center card-title">Lighting Control System</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="../../assets/services_img/scr.jfif" alt="">
                    <div class="card-body">
                        <h5 class="text-center card-title">Smart Classroom</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>