<div class="container">
    <div class="d-grid justify-content-around">
        <div class="row justify-content-evenly my-4">
            <div class="home_image col-lg-2">
                <img class="img-fluid shadow" width="100%" src="../../assets/home_img/datacentre.jfif" alt="data centre">
            </div>
            <div class="home_image col-lg-2">
                <img class="img-fluid shadow" width="100%" src="../../assets/home_img/office.png" alt="office place">
            </div>
            <div class="home_image col-lg-2">
                <img class="img-fluid shadow" width="100%" src="../../assets/home_img/success.jfif" alt="success stories">
            </div>
        </div>
        <div class="row mx-5">
            <p class="lead">Gadgeon is a digital technology service provider enabling customer’s digital journey with
                solutions using new-gen technologies.
            </p>
            <p>A successful digitalization approach should be viewed more from a customer experience perspective than
                purely
                as a large process automation / IT modernization initiative. Digitalization is all about business
                simplification that helps to build self-sufficient business models for cost-effectiveness and consistent
                value. A successful digitalization initiative requires key ingredients like an aligned vision,
                prioritized
                goals, and a pragmatic digital-first approach for implementation with strong enablers and foundational
                elements.</p>
            <p>Our digitalization services help the customers use new technology appropriately and allocate resources
                for
                optimal operational benefit. We prepare a digital strategy and roadmap for organizations. We bring the
                expertise to conceptualize and design technology-enabled services and governance approaches by
                synthesizing
                online and offline modes of operations.</p>
        </div>
    </div>
</div>